@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.home-main{
    height: 90vh;
    width: 100vw;
    background-color: white;  
    margin-top: 22%;  
}
.home{
    display: flex;
}
.home-head{
    color: black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 3%;
    font-weight: bolder;

}
.home-text{
    color: black;
    font-family: 'Montserrat', sans-serif;
    width:50vw;
    padding-left: 5%;
    padding-right: 5%;
    flex: 60%;
    word-wrap: normal;
    overflow-wrap: normal;
}
.home-text-1{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.home-text-2{
    font-size: 20px;
    font-weight: 600;
}
#back{
    height: 60vh;
    width: 40vw;
    border: 2px solid white;
    border-radius: 10px;
}
.home-img{
    flex:40%;
    margin-left: 5%;
}
