.main-intro{
    height: auto;
    width: 100vw;
    display: flex;
    background-color: black;
    font-family: 'Lato', sans-serif;
}
.intro-text{
    width: 70vw;
    background-color: black;
    color: white;
    padding: 30vh 5vw 3vh;
}
.intro-img{
   /* position: relative;
   right: 16vw;
   top: 5vh; */
   padding-right: 7vw;
   padding-bottom: 3vh;
}
#intro-image{
    height:85vh;
    width:35vw; 
    border: none;
}
.intro-text-1
{
    font-size: 50px;
}
.intro-text-2
{
    font-size: 25px;
}
@media only screen and (max-width: 700px){
    .main-intro{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .intro-text{
        width: 100vw;
        text-align: center;
        height: auto;
        padding: 10vh;
        padding-top: 6vh;
    }
    .intro-text-1{
        font-size: 30px;
    }
    .intro-text-2{
        font-size: 20px;
    }
    .intro-img{
        /* position: static;
        right:0%;
        top: 0%; */
        padding-right: 0%;
        
    }
    #intro-image{
        width:75vw; 
    }
}