.projects-main{
    background-color: white;
    height:auto;
    width: 100vw;
    padding-top: 3%;
    font-family: 'Lato', sans-serif;
}
.projects-head{
    color: black;
    font-size: 40px;
    text-align: center;
    padding-bottom: 1%;
    
}
.project{
   display: flex;
   align-items: center;
   border: solid #f3f1f1;
   border-radius: 30px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
   margin: 3% 10%;
}
.project-text{
    padding: 5%; 
    flex:60%; 
    font-size: 35px;
    display: flex;
    flex-direction: column;
}
.project-desc{
    font-size: 22px;
    margin: 2% 0;
    text-align: left;
}
.project-img{
    flex:40%;
    align-items: center;
    padding-right: 3%;
}
.pro-img{
    border: none;
    border-radius: 8px;
    margin:1%;
    height: 28vh;
    width: 28vw;
}
.project-link{
    width: 40vw;
}
.pro-link{
    text-decoration: none;
    font-size: 20px;
    padding: 2%;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    color: purple;
}
.pro-link:visited{
    color:purple;
}
.pro-link:hover{
    color:rgb(73, 1, 73);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 700px){
    .project{
        flex-direction: column;
    }
    .project-text{
        align-items: center;
    }
    .projects-head{
        font-size: 28px;
    }
    .project-desc{
        font-size: 18px;
        text-align: center;
    }
    .project-name{
        font-size: 22px;
    }
    .project-link{
        text-align: center;
        width: 60vw;
    }
    .pro-link{
        font-size: 16px;
    }
    .pro-img{
        margin: 3% 0;
        width:60vw;
    }
    .project-img{
        padding-right: 0%;
    }
}