@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.skill-main{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3%;
}
.skill-head{
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 1%;
    padding-top:3%;
}
.skill-component{
    color:white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(100, 100, 100);
    text-align: center;
    padding: 10px;
    width: 20vw;
    margin: 2%;
}
.skill-box{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}